@import "tailwindcss";

@theme {
  --color-main-green: rgb(41, 158, 96);
  --font-main-font: "Inter", sans-serif;
  --color-off-white: rgba(255, 255, 255, 0.4);
  --color-light-green: #f3faf2;
  --color-light-black: rgba(0, 0, 0, 0.4);
  --color-dark-black: rgba(0, 0, 0, 0.7);
  --color-border-green: #20c997;
  --color-border-gray: #e6e6e6;
  --color-semi-transparent: rgba(0, 0, 0, 0.6);
  --font-quick-sand: "Quicksand", sans-serif;
  --color-large-text: #121535;
  --color-hover-green: #1b824c;
  --color-carousel-green: #e8f7e6;
  --color-card-100: #fff3cd;
  --color-card-200: #d1e7dd;
  --color-card-300: #f8d7da;
  --color-card-400: #f3faf2;
  --color-circle-100: #ffe69c;
  --color-circle-200: #a3cfbb;
  --color-circle-300: #f1aeb5;
  --color-circle-400: #fff3cd;
  --color-add-cart: #e6f9ef;
  --color-main-purple: #7520dd;
  --color-icon-gray: rgba(0, 0, 0, 0.75);
  --color-main-orange: #fd7e14;
  --color-main-yellow: #ffc107;
  --color-news-teller: #121535;
  --font-rajdhani: "Rajdhani", sans-serif;
  --color-logo-gold: #8c6c4c;
  --color-logo-light: #e2d2a9;
  --breakpoint-xs: 480px;
}

