@import "tailwindcss";

@theme {
  --color-main-green: rgb(41, 158, 96);
  --font-main-font: "Inter, sans-serif";
  --color-off-white: rgba(255, 255, 255, 0.4);
  --color-light-green: #f3faf2;
  --color-light-black: rgba(0, 0, 0, 0.4);
  --color-dark-black: rgba(0, 0, 0, 0.7);
  --color-border-green: #20c997;
  --color-border-gray: #e6e6e6;
  --color-semi-transparent: rgba(0, 0, 0, 0.6);
  --font-quick-sand: "Quicksand, sans-serif";
  --color-large-text: #121535;
  --color-hover-green: #1b824c;
  --color-carousel-green: #e8f7e6;
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown menu (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 140px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-radius: 5px;
}

/* Dropdown item */
.dropdown-content li {
  margin: 10px 5px;
  padding: 5px 10px;
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

/* Hover effect */
.dropdown-content li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Show dropdown when button is hovered */
.dropdown:hover .dropdown-content {
  display: block;
}
.content {
  position: relative;
  background: #d3ebc0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.circle {
  height: 100px;
  width: 150px;
  background: #d3ebc0;
  position: relative;
  top: 50px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.circle::before {
  content: "";
  height: 30px;
  width: 40px;
  background: red;
  position: absolute;
  border-top-right-radius: 50px;
  top: 50px;
  left: -33px;
  box-shadow: 8px -15px #d3ebc0;
  background: transparent;
}
.circle::after {
  content: "";
  height: 30px;
  width: 40px;
  background: red;
  position: absolute;
  border-top-left-radius: 50px;
  top: 50px;
  right: -33px;
  box-shadow: -8px -15px #d3ebc0;
  background: transparent;
}
.moving-arrow {
  position: absolute;
  bottom: -20px; /* Adjusts the distance from the bottom of the parent */
  left: 50%; /* Centers the element horizontally */
  transform: translateX(-50%); /* Ensures perfect centering */
}
@keyframes wave-icon {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-15px) rotate(5deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

.animate-wave-icon {
  animation: wave-icon 2s ease-in-out infinite;
}
